{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container">
        <div class="row center">
            <div class="col-md-4">
                <h1>Register</h1>
                {{ form_start(registrationForm) }}
                {% for item in registrationForm %}
                    {{ form_row(item) }}
                {% endfor %}
                <button type="submit" class="btn btn-lg center">Register</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}
