{% extends 'base.html.twig' %}

{% block content_header %}
    <h2>Select tournament</h2>
{% endblock %}

{% block body %}



    <div class="row">
        {% for item in pagination %}
            {% set tournament = item.tournamentUser.idTournament %}
            {% set uType = item.tournamentUser.tournamentUserType %}

            {% include 'base_component/tournament_template.html.twig' %}

        {% else %}
            <div class="col-md-12">
                <span>No data</span>
            </div>
        {% endfor %}


    </div>

    <div class="row">
        <div class="col-md-12">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}