{% extends 'base.html.twig' %}

{% block body %}
    <div id="inner_banner" class="section inner_banner_section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="title-holder">
                            <div class="title-holder-cell text-left">
                                <h1 class="page-title">Checkout</h1>
                                <ol class="breadcrumb">
                                    <li><a href="index.html">Home</a></li>
                                    <li class="active">Checkout</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section padding_layout_1 checkout_section">
        <div class="container">
            <div class="row">
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="checkout-form">
                        <form action="#">
                            <fieldset>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-field">
                                            <label>First name <span class="red">*</span></label>
                                            <input name="fn" type="text">
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-field">
                                            <label>Opis</label>
                                            <textarea name="comment" form="usrform">Enter text here...</textarea>
                                        </div>
                                        <input type="submit">
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}