{% extends 'base.html.twig' %}

{% block body %}
    <div class="section padding_layout_1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="main_heading text_align_center">
                            <h2>Wybierz konkurs</h2>
                            <p class="large">Wybierz, w którym konkursie chcesz przejrzeć możliwe wybory</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 35px;">
                <div class="col-md-8">
                    <div class="full margin_bottom_30">
                        <div class="accordion border_circle">
                            <div class="bs-example">
                                <div class="panel-group" id="accordion">


                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <p class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                                    <i class="fa fa-star"></i>
                                                    Wybory promotora 2021/2022
                                                    <i class="fa fa-angle-down"></i>
                                                </a>
                                            </p>
                                        </div>
                                        <div id="collapseThree" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>
                                                    Krótki opis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet ullamcorper nulla. Etiam rhoncus placerat sapien, vel hendrerit sem cursus ut. Proin varius sit amet diam et euismod. Etiam at purus eget nulla feugiat ornare. Sed vel elementum massa. Sed aliquam accumsan tellus, at malesuada diam ornare id. Nulla facilisi. Proin laoreet rhoncus rhoncus. Vestibulum a porta nisl, varius malesuada lectus.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <p class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    Complete Recovery from Local &amp; External Drive
                                                    <i class="fa fa-angle-down"></i>
                                                </a>
                                            </p>
                                        </div>
                                        <div id="collapseFour" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                <p>
                                                    Contrary to popular belief, Lorem Ipsum is not
                                                    simply random text. It has roots in a piece of
                                                    classical Latin literature from 45 BC, making it
                                                    over 2000 years old. Richard McClintock, a Latin
                                                    professor at Hampden-Sydney College in Virginia,
                                                    looked up one of the more obscure Latin words,
                                                    consectetur, from a Lorem Ipsum passage, and going
                                                    through the cites of the word in classical
                                                    literature, discovered the undoubtable source.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="full" style="margin-top: 35px;">
                        <h3>Need file recovery?</h3>
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                            accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                            quae ab illo inventore veritatis et quasi architecto beatae
                            vitae dicta sunt explicabo..
                        </p>
                        <p>

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}